@{
    Layout = "_Layout";
    ViewBag.Title = "Узнать погоду";
}

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        max-width: 35rem;
        margin: 0;
    }
    
    img {
        width: 70%;
    }

    input {
        display: block;
        box-sizing: border-box;
        width: 70%;
        margin-top: 1rem;
        padding: 1rem;
    }
</style>

<form action="weather">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/OpenWeather-Logo.jpg"
         alt="Логотип OpenWeather">
    <input type="text" name="cities"
           placeholder="Введите список городов через запятую">
    <input type="submit" value="Получить погоду">
</form>